@import './SiteItem.scss';

.dashboard {
    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow: hidden;
        height: 100%;
        max-height: 100vh;
    }
    &__header {
        padding: 1rem;
        text-align: center;
        user-select: none;
        @include font-size(22);
    }
    &__content {
        overflow-y: scroll;
        padding: 1rem;
        flex: 1;
    }
}
