.siteitem {
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    line-height: 1.4;
    &__name {
        flex-grow: 1;
        color: rgba(0, 0, 0, 0.6);
        width: calc(100% - 100px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__time {
        width: 90px;
        background-color: #0049da;
        padding: 4px 8px;
        color: #fff;
        font-size: 0.9rem;
        border-radius: 3px;
        display: flex;
        justify-content: center;
    }
    & + & {
        margin-top: 10px;
    }
}
