@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$body-bg: #f5fbfd;
$font-family-sans-serif: 'Fira Sans', sans-serif;
$enable-responsive-font-sizes: true;
@import '~bootstrap';
@import './Dashboard/Dashboard.scss';

.app-container {
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    min-height: 500px;
    max-height: 500px;
}
